$gray: #d9e0e6;
$gray-light: #EDEDED;
$gray-dark: #484B4D;
$gray-darkness: #231F20;
$green: #8BD42D;
$orange: #F36C48;
$blue-gray: #8F9BB3;
$blue: #233674;
$blue-light: #EFF4FA;
$blue-check: #D8E5F8;
$blue-border: #3656BF;
$bg-white: #F8F8F8
