<section class="mx-8">
    <h1 class="text-xl font-bold text-customBlue-default">Login</h1>
    <form [formGroup]="settingsLoginForm">
        <div class="mt-4">
            <div class="flex justify-between mt-1">
                <label>Redirecionar automaticamente listagem de disciplinas</label>
                <input formControlName="redirectToDiscipline"  id="toogle" style="height:1.4rem;" class="relative w-11 transition-all duration-200 ease-in-out bg-customGray-light rounded-full shadow-inner outline-none appearance-none cursor-pointer" type="checkbox" />
            </div>
        </div>
    </form>
    <div class="flex justify-end mt-8">
        <button class="border rounded-md py-2 px-8 font-bold text-sm border-customGray-textGray" style="color: #FFFFFF;background-color: #233674" (click)="saveLogin()">Salvar</button>
    </div>
</section>