<app-header></app-header>

<div class="container-xl mx-auto pl-40 px-20">
    <div class="py-12">
        <div class="flex flex-row mb-1 sm:mb-0 justify-between w-12/12">
            <h2 class="text-lg font-bold text-customBlue-default leading-tight">Lista de usuários</h2>
            <div class="text-end flex">
                <form class="flex items-center mb-4 w-full rounded-lg border md:mb-0 md:w-full bg-customWhite-default border-customWhite-bWhite">
                    <label class="hidden" for="search-form">Search</label>
                    <input class="p-2 pl-2 rounded-lg w-full outline-none" placeholder="Buscar..." type="text" [(ngModel)]="filterTerm" name="filter">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="#8F9BB3">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>    
                    <button class="hidden cursor-pointer">Submit</button>
                  </form>
                  <span class="my-auto ml-6">Mostrar</span>
                  <input type="number" id="number" class="ml-3 w-16 pl-2 rounded-lg border border-customWhite-bWhite font-semibold text-customGray-textGray h-8 my-auto" value="10" min="0" max="100" (change)="getNumber()">
                  <span class="my-auto ml-3">resultados</span>
            </div>
        </div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full rounded-t-lg overflow-hidden bg-customBlue-light">
                    <ul class="px-8 w-full h-14 flex items-center">
                        <li class="w-1/12 flex" >
                            <input type="checkbox" name="check" id="" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" class="h-6 w-4 cursor-pointer" >
                            <div class="relative inline-block text-left">
                                <div>
                                  <button type="button" (click)="isOpen = !isOpen" class="inline-flex justify-center w-full rounded-md text-sm font-medium text-gray-700 hover:bg-gray-50 " id="menu-button" aria-expanded="true" aria-haspopup="true">
                                    <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                  </button>
                                </div>
                            </div>
                        </li>
                        <li class="w-5/12 text-center font-semibold text-md text-customGray-textGray">Nome</li>
                        <li class="w-5/12 text-center font-semibold text-md text-customGray-textGray">Cargo</li>
                        <li class="w-2/12 text-center font-semibold text-md text-customGray-textGray">Status</li>
                        <li class="w-5/12 text-center font-semibold text-md text-customGray-textGray">Última atividade</li>
                        <li class="w-1/12 text-center font-semibold text-md text-customGray-textGray">Edição</li>
                    </ul>
                </div>
                <div *ngFor="let user of users | filter:filterTerm | paginate: { itemsPerPage: number, currentPage: p }" class="inline-block min-w-full overflow-hidden border-b-2 borderCustom">
                    <ul class="px-8 w-full h-14 flex items-center ss">
                        <li class="w-1/12" >
                            <input type="checkbox" name="all" id="t" [(ngModel)]="user.isSelected" (change)="isAllSelected()" class="h-6 w-4 cursor-pointer">
                        </li>
                        <li class="w-6/12 text-center flex">
                            <div id="name" class="bg-inicieColors-orange mr-12 font-bold flex items-center justify-center uppercase">
                                {{user.ini}}
                            </div>
                            <div class="text-left text-sm">
                                <h2 class="font-semibold capitalize">{{user.first_name}} {{user.last_name}}</h2>
                                <span class="text-customGray-textGray">{{user.email}}</span>
                            </div>
                        </li>
                        <li class="w-4/12 text-center text-sm flex justify-evenly">
                            <span class="py-2 px-4 bg-customBlue-normal text-customWhite-default rounded-md" *ngIf="user.role.includes('Aluno')">Aluno</span>
                            <span class="py-2 px-4 bg-customRed-default text-customWhite-default rounded-md" *ngIf="user.role.includes('Super-Admin')">Super Admin</span>
                            <span class="py-2 px-4 bg-customGray-light rounded-md" *ngIf="!user.role.includes('Aluno') && !user.role.includes('Super-Admin')">Nenhum</span>
                        </li>
                        <li class="w-2/12 text-center text-sm">
                            <div *ngIf="user.status == 1">
                                <span class="active mr-4"></span>
                                <span>Ativo</span>
                            </div>
                            <div *ngIf="user.status == 2">
                                <span class="inactive mr-4"></span>
                                <span>Inativo</span>
                            </div>
                        </li>
                        <li class="w-5/12 text-center text-sm">24/05/2021 (5 dias sem atividade)</li>
                        <li class="w-1/12 text-center">
                            <button (click)="show(user.id)" id="test"  class="relative z-10 block p-2 transition-colors duration-200 transform bg-blue-600 rounded-md dark:bg-gray-800 hover:bg-blue-500 dark:hover:bg-gray-700 focus:outline-none focus:bg-blue-500 dark:focus:bg-gray-700">
                                <fa-icon [icon]="faEllipisisV" class="text-customBlue-default icon pl-6"></fa-icon>
                            </button>
                        </li>
                        <li class="absolute hidden z-20 w-48 right-36 rounded-md shadow-xl bg-customWhite-default">
							<div class="py-1" role="none">
								<a href="#" class="text-gray-700 block px-4 py-2 text-sm hover" role="menuitem" tabindex="-1" id="menu-item-0">Editar</a>
								<a href="#" class="text-gray-700 block px-4 py-2 text-sm hover" role="menuitem" tabindex="-1" id="menu-item-1">Excluir</a>
								<a href="#" class="text-gray-700 block px-4 py-2 text-sm hover" role="menuitem" tabindex="-1" id="menu-item-2">Excluir todos</a>
							</div>
						</li>
                    </ul>
                </div>
                <div class="mt-8 flex justify-center">
                	<pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                </div>
            </div>
        </div>
    <button class="fixed py-2 px-3.5 right-16 rounded-full add shadow-lg text-customWhite-default" (click)="showModal = !showModal"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>  

    <!-- Modal add User -->
  <div *ngIf="showModal" class="transition ease-out duration-700 animate-fade-in-down overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex transition duration-1000 ease-in-out">
    <div class="relative w-10/12 my-6 ml-36 mx-auto absolute bg-customWhite-default rounded-lg">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-customBlue-light rounded-t">
          <h3 class="text-xl font-bold text-customBlue-default">
            Adicionar novo usuário
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="showModal = !showModal">
            <span class="bg-transparent h-6 w-6 text-2xl block outline-none focus:outline-none">
              <fa-icon [icon]="faTimes"></fa-icon>
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
            <form [formGroup]="userForm">
                <div class="flex justify-between mt-2">
                    <input type="text" class="w-full border border-customBlue-light rounded-md p-1 text-md mr-4" placeholder="Nome" required formControlName="name">
                    <input type="text" class="w-full border border-customBlue-light rounded-md p-1 text-md" placeholder="Código de usuário" required formControlName="userCode">
                </div>
                <div class="flex justify-between mt-5">
                    <input type="text" class="w-full border border-customBlue-light rounded-md p-1 text-md mr-4" placeholder="Email" required formControlName="email">
                    <input type="text" class="w-full border border-customBlue-light rounded-md p-1 text-md" placeholder="Telefone" required formControlName="phone">
                </div>
                <div>
                    <div class="flex w-full h-20 mt-5">
                        <label class="w-36 h-36 flex flex-col items-center px-4 py-6 bg-customBlue-light text-blue rounded-full shadow-lg border border-customGray-superLight cursor-pointer">
                            <svg class="w-8 h-8 mt-2 animate-bounce" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                            </svg>
                            <span class="mt-4 text-sm">Escolher arquivo</span>
                            <input type='file' class="hidden" />
                        </label>
                        <span class="mt-20 ml-6">Tamanho máximo de 1 MB. JPG, GIF ou PNG.</span>
                    </div>
                </div>
            </form>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 rounded-b">
          <button class="bg-customBlue-default text-customWhite-default active:bg-emerald-600 font-bold text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="postUsers()" (click)="showModal = !showModal">
            Salvar Usuário
          </button>
          <button class="text-customGray-textGray background-transparent font-semibold px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="showModal = !showModal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40" style="background-color: #000;"></div>

  <div *ngIf="success == true" class="animate-fade-in-down overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex transition duration-1000 ease-in-out">
    <div class="relative w-3/12 my-6 mx-auto max-w-6xl absolute bg-customWhite-default rounded-lg">
      <!--content-->
      <div class="h-48 border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--body-->
        <div class="relative p-6 flex-auto flex justify-center items-center text-customBlue-default font-semibold">
            Concluído!
        </div>
        <!--footer-->
        <div class="flex items-center justify-center p-6 rounded-b">
          <button class="bg-customBlue-default text-customWhite-default active:bg-emerald-600 font-bold text-sm px-6 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="reload()">
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="success == true" class="opacity-25 fixed inset-0 z-40" style="background-color: #000;"></div>

    <!-- Menu all options -->
    <div *ngIf="isOpen" class="z-10 absolute left-48 top-52 mt-2 w-56 rounded-md shadow-lg bg-customWhite-default" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover" role="menuitem" tabindex="-1" id="menu-item-0">Editar</a>
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover" role="menuitem" tabindex="-1" id="menu-item-1">Excluir</a>
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover" role="menuitem" tabindex="-1" id="menu-item-2">Excluir todos</a>
        </div>
    </div>

    <!-- Menu edit user -->
    