<section class="px-8">
    <h1 class="text-customBlue-default font-bold text-xl">Campos customizados</h1>
    
    <form [formGroup]="customTermsForm">
        <div class="flex justify-between my-8">
            <label>Tornar mandatório o aceite dos termos de uso da instituiçāo</label>
            <input  formControlName="terms_mandatory" id="toogle" style="height:1.4rem;" class="relative w-11 transition-all duration-200 ease-in-out bg-customGray-light rounded-full shadow-inner outline-none appearance-none cursor-pointer" type="checkbox" />
        </div>           
        <div class="NgxEditor__Wrapper my-8">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="terms"> </ngx-editor>
        </div>
    </form>

    <div class="flex row justify-end">
        <div class="">
            <button class="border rounded-md py-2 px-8 font-bold text-sm border-customGray-textGray" style="color: #FFFFFF;background-color: #233674" (click)="saveTerms()">Salvar</button>
        </div>
    </div>  


</section>

