
<app-side-bar></app-side-bar>
<header class="md:flex md:items-center md:justify-between p-4 pb-0 shadow-lg md:pb-4" style="background-color: #FFFFFF;">
  
  <!-- Logo text or image -->
  <div class="flex items-center justify-between mb-4 md:mb-0">
    <a class="text-black hover:text-orange md:hidden" href="#">
      <i class="fa fa-2x fa-bars"></i>
    </a>
    <img src="../../../assets/svg/logo.svg" alt="" class="w-1/2 h-1/8 ml-auto">  
  </div>


  <!-- END Logo text or image -->
  
  <!-- Search field -->
  <form class="flex items-center mb-4 w-full rounded-full border md:mb-0 md:w-4/12 shadow-lg" style="border: 1px solid #EFF4FA;">
    <label class="hidden" for="search-form">Search</label>
    <input class="p-2 pl-6 rounded-full w-full outline-none" placeholder="O que você está procurando?" type="text">
    <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="#8F9BB3">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>    
    <button class="hidden">Submit</button>
  </form>
  <!-- END Search field -->
  
  <!-- Global navigation -->
  <nav>
    <ul class="list-reset md:flex md:items-center">
      <li class="md:ml-4">
        <button class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" *ngIf = "logOutGoogle == true" (click)="logOutG()">
          Log Out G
        </button>
      </li>
      <li class="md:ml-4">
        <button class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" *ngIf = "logOutNormal == true" (click)="logOutN()">
          Log Out N
        </button>
      </li>
      <li class="md:ml-4">
        <button class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" *ngIf = "logOutMicro == true" (click)="logOutM()">
          Log Out M
        </button>
      </li>
    </ul>
  </nav>
  <!-- END Global navigation -->
</header>
