<app-header></app-header>

<section class="pl-48 px-12 py-8">
    <h1 class="text-customBlue-default font-bold text-3xl">Configurações</h1>
        <div class="flex md:flex-row sm:flex-col gap-12">
            <div class="w-1/3 my-8 py-8 px-6 shadow-card round-card" style="max-width: 380px; max-height: 560px;">
                <a (click)='configGerais()'>
                    <div class="text-left px-10 py-2 bg-card rounded-lg" [ngClass]="{'bg-card': selected === 'item1'}">
                        <h2 class="my-2" style="color: #484B4D">Configurações gerais</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>
                <a (click)='configAvancadas()'>
                    <div class="text-left px-10 py-2 rounded-lg " [ngClass]="{'bg-card': selected === 'item2'}" >
                        <h2 class="my-2" style="color: #484B4D">Configurações avançadas</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>
                <a (click)='configTerms()'>
                    <div class="text-left px-10 py-2 rounded-lg " [ngClass]="{'bg-card': selected === 'item3'}" >
                        <h2 class="my-2" style="color: #484B4D">Termos de uso</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>                
                <a (click)='configLti()'>
                    <div class="text-left px-10 py-2 rounded-lg " [ngClass]="{'bg-card': selected === 'item4'}" >
                        <h2 class="my-2" style="color: #484B4D">Provedores LTI</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a> 
                <a (click)='configTimetables()'>
                    <div class="text-left px-10 py-2 rounded-lg " [ngClass]="{'bg-card': selected === 'item5'}" >
                        <h2 class="my-2" style="color: #484B4D">Grade Horárias</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>                                
                <a (click)='configCamposCustom()'>
                    <div class="text-left px-10 py-2 rounded-lg" [ngClass]="{'bg-card': selected === 'item6'}" >
                        <h2 class="my-2" style="color: #484B4D">Campos customizados</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>
                <a (click)='configDisciplines()'>
                    <div class="text-left px-10 py-2 rounded-lg" [ngClass]="{'bg-card': selected === 'item7'}" >
                        <h2 class="my-2" style="color: #484B4D">Turmas</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>                
                <a (click)='configIntegracoes()'>
                    <div class="text-left px-10 py-2 rounded-lg" [ngClass]="{'bg-card': selected === 'item8'}" >
                        <h2 class="my-2" style="color: #484B4D">Integrações</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>
                <a (click)='configLogin()'>
                    <div class="text-left px-10 py-2 rounded-lg" [ngClass]="{'bg-card': selected === 'item9'}" >
                        <h2 class="my-2" style="color: #484B4D">Login</h2> <!-- AJUSTAR CLASSE DE COR -->
                    </div>
                </a>
            </div>
            <div class="w-3/5 my-8 py-8 shadow-card round-card">
                <router-outlet></router-outlet>
            </div>
        </div>  
</section>

