<section class="px-8">
    <h1 class="text-customBlue-default font-bold text-xl">Configurações Gerais</h1>
        <div class="flex md:flex-row sm:flex-col gap-2">
            <div class="w-1/2 my-8 ">
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Título do site</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Imagem do menu</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Fundo da navbar</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>   
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Fundo da navbar</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>                                               
            </div>
            <div class="w-1/2 my-8 ">
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Nome da instituição</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Logo da instituição</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left px-10 py-2 " >
                    <h2 class="font-bold my-2">Texto do navbar</h2>
                    <input type="text" class="w-full border-b-2" placeholder="Nuvem Mestra" style="border-color: #A9AEB3;">
                </div>   
            </div>
        </div>
        <div class="flex row justify-end">
            <div class="">
                <button class="border rounded-md py-2 px-8 font-bold text-sm border-customGray-textGray" style="color: #FFFFFF;background-color: #233674">Editar</button>
            </div>
        </div>  
</section>