<section class="px-8" >
    <h1 class="text-customBlue-default font-bold text-xl">Configurações Gerais</h1>
    <form [formGroup]="settingsGeneralForm">
        <div class="flex md:flex-row sm:flex-col gap-2">
            <div class="w-1/2 my-8 ">
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Título do site</h2>
                    <input formControlName="site_title" type="text" class="w-full border-b-2 bg-transparent" placeholder="site_title" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Imagem do menu</h2>
                    <input formControlName="logo" type="text" class="w-full border-b-2 bg-transparent" placeholder="Sem Imagem" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Fundo da navbar</h2>
                    <div class="flex border-b-2" style="border-color: #A9AEB3;">
                        <input class="mr-2 bg-transparent" style="cursor: pointer;width:1.3rem; border-radius: 50%; height: 1.3em;color: transparent" [style.background]="settingsGeneral.navbar_background_color" [(colorPicker)]="settingsGeneral.navbar_background_color" (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" (colorPickerClose)="settingsGeneralForm.controls['navbar_background_color'].setValue($event)" (cpInputChange)="onEventLog('cpInputChange', $event)" (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>
                        <input formControlName="navbar_background_color" type="text" class="w-full bg-transparent" placeholder="navbar_background_color" [disabled]="true" style="border-color: #A9AEB3;">
                    </div>
                </div>   
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Favicon</h2>
                    <a>
                        <label class="flex flex-col px-4 py-6 rounded-full cursor-pointer" style="width: 3rem; height: 3rem; background-color: #A9AEB3;">
                            <input type='file' class="hidden" />
                        </label>
                    </a>
                </div>   
            </div>
            <div class="w-1/2 my-8 ">
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Nome da instituição</h2>
                    <input formControlName="institution_name" type="text" class="w-full border-b-2 bg-transparent" placeholder="institution_name" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Logo da instituição</h2>
                    <input formControlName="logo" type="text" class="w-full border-b-2 bg-transparent" placeholder="Sem Imagem" style="border-color: #A9AEB3;">
                </div>
                <div class="text-left pr-10 py-2 " >
                    <h2 class="font-bold my-2">Texto do navbar</h2>
                    <div class="flex border-b-2" style="border-color: #A9AEB3;">
                        <input class="mr-2 bg-transparent" style="cursor: pointer;width:1.3rem; border-radius: 50%; height: 1.3em;color: transparent" [style.background]="settingsGeneral.navbar_text_color" [(colorPicker)]="settingsGeneral.navbar_text_color" (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" (colorPickerClose)="settingsGeneralForm.controls['navbar_text_color'].setValue($event)" (cpInputChange)="onEventLog('cpInputChange', $event)" (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>
                        <input formControlName="navbar_text_color" type="text bg-transparent" class="w-full" placeholder="navbar_text_color" [disabled]="true" style="border-color: #A9AEB3;">
                    </div>
                </div>   
            </div>
        </div>
        <div class="flex row justify-end">
            <div class="">
                <button class="border rounded-md py-2 px-8 font-bold text-sm border-customGray-textGray" [ngClass]="{'disabled:opacity-20 cursor-not-allowed': !buttonActive}" style="color: #FFFFFF;background-color: #233674" (click)="postGeneralSettings()" [disabled]="!buttonActive">Salvar</button>
            </div>
        </div>
    </form>
</section>