    <div class="rounded-lg mt-8">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="text-start p-5 border-b border-solid border-customBlue-light rounded-t">
                <h3 class="text-xl font-bold " style="color:#3656BF;">
                    Feed do curso
                </h3>
            </div>
            <!--body-->
            <div>
                <div class="flex items-center justify-start m-6 p-2 rounded" style="border: 1px solid #A9AEB3">
                    <div *ngFor="let feed of disicplineDetail?.feed" class="flex">
                        <!-- <div [ngSwitch]="true">
                            <svg *ngSwitchCase="feed?.icon == 'class'" width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.514 18.6667H21V2.33333C21 1.71449 20.7542 1.121 20.3166 0.683417C19.879 0.245833 19.2855 0 18.6667 0H3.5C2.093 0 0 0.932167 0 3.5V19.8333C0 22.4012 2.093 23.3333 3.5 23.3333H21V21H3.514C2.975 20.986 2.33333 20.7725 2.33333 19.8333C2.33333 18.8942 2.975 18.6807 3.514 18.6667ZM5.83333 4.66667H16.3333V7H5.83333V4.66667Z" fill="#233674"/>
                            </svg>                            
                        </div> -->
                        <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.514 18.6667H21V2.33333C21 1.71449 20.7542 1.121 20.3166 0.683417C19.879 0.245833 19.2855 0 18.6667 0H3.5C2.093 0 0 0.932167 0 3.5V19.8333C0 22.4012 2.093 23.3333 3.5 23.3333H21V21H3.514C2.975 20.986 2.33333 20.7725 2.33333 19.8333C2.33333 18.8942 2.975 18.6807 3.514 18.6667ZM5.83333 4.66667H16.3333V7H5.83333V4.66667Z" fill="#233674"/>
                        </svg>
                        <span class="ml-2">{{feed?.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-8 grid grid-cols-2 gap-4">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="text-start p-5 border-b border-solid border-customBlue-light rounded-t">
                <h3 class="text-xl font-bold " style="color:#3656BF;">
                    Educadores
                </h3>
            </div>
            <!--body-->
            <div class="relative p-6">

            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 rounded-b">

            </div>
        </div>

        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="text-start p-5 border-b border-solid border-customBlue-light rounded-t">
                <h3 class="text-xl font-bold " style="color:#3656BF;">
                    Educadores
                </h3>
            </div>
            <!--body-->
            <div class="relative p-6">

            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 rounded-b">

            </div>
        </div>        
    </div>      

    <div class="rounded-lg mt-8">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="text-start p-5 border-b border-solid border-customBlue-light rounded-t">
                <h3 class="text-xl font-bold" style="color:#3656BF;">
                    Educadores
                </h3>
            </div>
            <!--body-->
            <div class="relative p-6">

            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 rounded-b">

            </div>
        </div>
    </div>   