<app-header></app-header>

<section class="container pl-40 px-12 py-8">
    <h1 class="text-customBlue-default font-bold text-2xl">Meu Perfil</h1>
        <div class="my-8 py-12 container px-48 bg-customWhite-default shadow-lg rounded-lg mx-auto">
            <div class="flex justify-center">
                <div id="name" class="rounded-full bg-inicieColors-orange mr-12">
                    {{nome}}
                </div>
                <div class="text-center tracking-wide">
                    <h2 class="font-semibold my-2">Diego Soek</h2>
                    <h3 class="font-semibold my-2">Super Administrador</h3>
                    <span class="font-light">diego@inicie.digital</span>
                </div>
            </div>
        </div>  

        <div class="container w-2/5 rounded-lg bg-customWhite-default">
            <div class="bg-customBlue-light h-12 items-center flex justify-center rounded-t-lg">
                <h4 class="font-semibold text-inicieColors-blue text-md">Minhas Configurações</h4>
            </div>
            <div class="bg-customWhite-default rounded-b-lg p-6">
                kmkmkm
            </div>

        </div>
</section>