@import '../../../styles.scss';

.bg-disciplines{
    background-color: #FFFFFF;
    color: #484B4D;
}

.button-disciplines-selected{
    background-color: #D8E5F8;
    color: #233674;
    font-weight: bold;
}