<section class="flex flex-col md:flex-row items-center bg-customWhite-default">
    <div class="bg-customGray-light h hidden lg:block w-full md:w-1/2 xl:w-2/4 text-center">
        <div class="flex items-stretch h justify-center c">
            <fa-icon [icon]="faImage" class="self-center text-customGray-iconGray"></fa-icon>
        </div>
    </div>
    <div class="bg-white w-ful md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 xl:w-1/3 xs:w-1/4 px-6 lg:px-16 xl:px-12 flex justify-center">
        <div class="w-full h-100 xl:my-auto">
            <img src="../../../assets/svg/logo.svg" alt="" class="w-4/5 h-2/8 mt-12 mb-8 mx-auto object-cover">  

            <form class="mt-6" action="#" method="POST">
                <div>
                    <label class="block text-gray-700 text-sm">E-mail</label>
                    <input type="email" name="" id="" placeholder="Digite seu e-mail" class="w-full px-4 py-3 rounded-sm mt-2 border border-gray text-sm" autofocus autocomplete required>
                </div>
				<label class="block text-gray-700 text-sm mt-4">Senha</label>
                    <div class="flex">
                        <input type="password" name="" id="pass" placeholder="Digite sua senha" class="w-full px-4 py-3 rounded-sm mt-2 border border-gray text-sm" autofocus autocomplete required>
                        <label class="checkbox-label">
                            <input type="checkbox" (click)="pass()">
                            <span class="checkbox-custom ">
                                <img src="../../../assets/png/eye.png">
                            </span>
                        </label>
                    </div>
                <div class="flex justify-end mt-2">
                    <a class="text-gray-700 font-semibold text-sm" (click)="show = !show">Esqueceu sua senha?</a>
                </div>
            </form>

            <div class="flex flex-col">
                <button type="submit" class="w-4/5 bg-customBlue-default text-w block rounded-sm font-semibold px-4 py-4 mt-6 mb-6 mx-auto hover:bg-blue-800 transition duration-700 ease-in-out">Entrar</button> 

                <button (click)="loginWithGoogle()" type="button" class="w-4/5 block bg-white text-gray-900 font-semibold rounded-sm px-4 py-3 border btn-blue shadow-lg mb-6 mx-auto hover">
                    <div class="flex items-center justify-center">
                        <img src="../../../assets/png/google.png" class="icons">
                        <span class="ml-4 text-sm">Continuar com o Google</span>
                    </div>
                </button>

                <button type="button" class="w-4/5 block bg-white text-gray-900 font-semibold rounded-sm px-4 py-3 border btn-blue shadow-lg mb-6 mx-auto hover">
                    <div class="flex items-center justify-center">
                        <img src="../../../assets/png/apple.png" class="icons">
                        <span class="ml-4 text-sm">Continuar com a Apple</span>
                    </div>
                </button>

                <button (click)="loginWithMicrosoft()" type="button" class="w-4/5 block bg-white text-gray-900 font-semibold rounded-sm px-4 py-3 border btn-blue shadow-lg mb-6 mx-auto hover" >
                    <div class="flex items-center justify-center">
                        <img src="../../../assets/png/microsoft.png" class="icons">
                        <span class="ml-4 text-sm">Continuar com a Microsoft</span>
                    </div>
                </button>
				<button type="button" *ngIf="isLoggedin == true" (click)="logOut()" class="btn btn-primary">Log Out</button>
				<button type="button" *ngIf="isLogged()" (click)="logOutMicrosoft()" class="btn btn-primary">Log Out</button>
            </div>
            <div class="flex justify-between w-3/4 mx-auto">
                <button class="w-3/6 flex flex-col items-center">
                    <fa-icon [icon]="faUserHeadset" class="text-4xl text-customGray-dark"></fa-icon>
                    <label class="font-semibold text-md">Suporte</label>
                </button>
                <button class="w-3/6 flex flex-col items-center">
                    <fa-icon [icon]="faQuestionCircle" class="text-4xl text-customGray-dark"></fa-icon>
                    <label class="font-semibold text-md">Ajuda</label>
                </button>
            </div>
        </div>
    </div>
</section>

  <!-- Modal edit User -->
  <div *ngIf="show" class="transition ease-out duration-700 animate-fade-in-down overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex transition duration-1000 ease-in-out">
    <div class="relative w-4/12 my-6 mx-auto absolute bg-customWhite-default rounded-lg">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="text-center p-5 border-b border-solid border-customBlue-light rounded-t">
          <h3 class="text-xl font-bold text-customBlue-default">
            Esqueci minha senha
          </h3>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto w-11/12 mx-auto">
            <form>
                <p class="text-center text-sm">Para redefinir sua senha , informe o e-mail cadastrado na sua conta. Nós enviaremos um link para o seu e-mail com instruções para os proximos passos.</p>
                <div class="mt-5">
                    <div class="mt-2">
                        <label for="" class="font-semibold text-customGray-dark">E-mail</label>
                        <input type="text" class="w-full border border-customGray-light rounded-sm p-2 text-md mt-2" placeholder="Digite seu e-mail" required>
                    </div>
                </div>
            </form>
        </div>
        <!--footer-->
        <div class="flex items-center justify-center p-6 rounded-b">
          <button class="bg-customBlue-default text-customWhite-default active:bg-emerald-600 font-bold text-sm px-7 py-2.5 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="next()">
            Continuar
          </button>
          <button class="text-customGray-textGray background-transparent font-semibold px-7 py-2.5 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="show = !show">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="show" class="opacity-25 fixed inset-0 z-40" style="background-color: #000;"></div>

    <!-- Modal edit User -->
    <div *ngIf="cont" class="transition ease-out duration-700 animate-fade-in-down overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex transition duration-1000 ease-in-out">
        <div class="relative w-4/12 my-6 mx-auto absolute bg-customWhite-default rounded-lg">
          <!--content-->
          <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="text-center p-5 border-b border-solid border-customBlue-light rounded-t">
              <h3 class="text-xl font-bold text-customBlue-default">
                Código para redefiniçāo de senha
              </h3>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto w-11/12 mx-auto">
                <form>
                    <p class="text-center text-sm">Insira o código que enviamos para o seu e-mail.</p>
                    <div class="mt-5">
                        <div class="mt-2">
                            <label for="" class="font-semibold text-customGray-dark">Código</label>
                            <input type="text" class="w-full border border-customGray-light rounded-sm p-2 text-md mt-2" placeholder="Digite aqui" required>
                            <div class="flex flex-col justify-end mt-2">
                                <p class="text-right text-sm">O código expira em <app-countdown></app-countdown> minutos</p>
                                <a class="font-bold text-customBlue-default text-right mt-1">Enviar novamente</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--footer-->
            <div class="flex items-center justify-center p-6 rounded-b">
              <button class="bg-customBlue-default text-customWhite-default active:bg-emerald-600 font-bold text-sm px-7 py-2.5 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" (click)="validateCod()" type="button">
                Continuar
              </button>
              <button class="text-customGray-textGray background-transparent font-semibold px-7 py-2.5 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="cont = !cont">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="cont" class="opacity-25 fixed inset-0 z-40" style="background-color: #000;"></div>
    
