button {
  color: black;
}
.sidebar-open{
  background-color: #233674;
  min-width: 0rem;
  min-height: 0rem;
  position: fixed;
  left: 5rem;
  margin-top: -0.39rem;
  border-radius: 0.5rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.sidebar {
    background: #D9E0E6;
    color: white;
    height: 100%; /* 100% Full-height */
    width: 6em; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1em; /* Place content 60px from the top */
}
.showsidebar {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.hidesidebar {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}
.side-overlay{
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: background-color 0.5s,opacity 0.5s linear;
}

