button {
  color: black;
}
.sidebar-open{
  background-color: #233674;
  min-width: 0rem;
  min-height: 0rem;
  position: fixed;
  left: 5rem;
  margin-top: -0.7rem;
  border-radius: 0.5rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.sidebar {
    background: #D9E0E6;
    color: white;
    height: 100%; /* 100% Full-height */
    width: 6em; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1em; /* Place content 60px from the top */
}
.showsidebar {
  min-width: 10rem;
  min-height: 3rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */ 
}
.hidesidebar {
  min-width: 0;
  min-height: 0; 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

