 button {
   color: black;
 }
 .sidebar {
    background: #b0b2c7;
    color: white;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .showsidebar {
    width: 25em;
  }
  .hidesidebar {
    width: 0px;
  }