@import '../../../../styles.scss';

.card {
    width: 25%;
    .img-card{
        height: 90px;
        width: 100%;
    }
    .user-info{
        margin-top: -20px;
        #name {
            width: 80px;
            text-align: center;
            color: white;
            font-size: 40px;
            line-height: 80px;
            height: 80px;
            margin: 0 auto;
        }
    }
}

.main{
    width: 50%;
    .img-main{
        width: 35%;
        margin-right: 20px;
    }
    .bt{
        margin-left: 80%;
    }
}