<section class="mx-8">
    <h1 class="text-xl font-bold text-customBlue-default">Integrações</h1>
    <div class="mt-4">
        <div class="flex justify-between mt-1">
            <label>Habilitar V Libras</label>
            <input id="toogle" class="relative w-12 h-5 transition-all duration-200 ease-in-out bg-customGray-light rounded-full shadow-inner outline-none appearance-none cursor-pointer" type="checkbox" />
        </div>
        <div class="flex justify-between mt-1">
            <label>Habilitar UserWay</label>
            <input id="toogle" class="relative w-12 h-5 transition-all duration-200 ease-in-out bg-customGray-light rounded-full shadow-inner outline-none appearance-none cursor-pointer" type="checkbox" />
        </div>
        <div class="flex justify-between mt-1">
            <label>Habilitar validação externa</label>
            <input id="toogle" class="relative w-12 h-5 transition-all duration-200 ease-in-out bg-customGray-light rounded-full shadow-inner outline-none appearance-none cursor-pointer" type="checkbox" />
        </div>
        <div class="flex justify-between mt-1">
            <label>Habilitar exportação automática de relatório</label>
            <input id="toogle" class="relative w-12 h-5 transition-all duration-200 ease-in-out bg-customGray-light rounded-full shadow-inner outline-none appearance-none cursor-pointer" type="checkbox" />
        </div>
    </div>
    <div class="flex justify-end">
        <button class="px-16 py-1.5 bg-customBlue-default text-customWhite-default font-semibold rounded-sm mt-6 hover">Editar</button>
    </div>
</section>