@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '/src/app/styles/colors.scss';
@import '/src/app/styles/mixins.scss';

html {
    font-family: 'Open Sans', sans-serif;
    background-color: $bg-white;
}
a{
    cursor: pointer;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
.shadow-card{
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
}

.round-card{
    border-radius: 0.8rem;
}

.bg-card{
    background-color: #D8E5F8;    
}
//checkbox
#toogle{
    height: 1.4rem;
}
#toogle:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: 0.2rem;
    left: 0.3rem;
    transform: scale(1.1);
    background-color: white;
    transition: .2s ease-in-out;
}

#toogle:checked {
    background-color: $blue;
}

#toogle:checked:before {
    left: 1.5rem;
}

.hover {
    transition: ease-in-out 0.7s;
    &:hover {
        @include hBlue;
    }
}
.p-button{
    background: #233674 !important;
    border: unset !important;
    color: #FFFFFF;
    padding: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
}

.p-button:hover{
    border: unset !important;
    color: #FFFFFF;
}