<app-header></app-header>
<div class="flex md:grid grid-cols-2 gap-12 p-40 ml-24" >
    <div class="shadow-md rounded-lg " style="height: 500px;">
        <ngx-charts-area-chart
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)">
        </ngx-charts-area-chart>
    </div>
    <div class="shadow-md rounded-lg " style="height: 500px;">
        <ngx-charts-bar-vertical 
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </div>
    <div class="shadow-md rounded-lg " style="height: 500px;">
        <ngx-charts-area-chart
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)">
        </ngx-charts-area-chart>
    </div>
    <div class="shadow-md rounded-lg "style="height: 500px;">
        <ngx-charts-area-chart
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)">
        </ngx-charts-area-chart>
    </div>    
</div>
