<app-header></app-header>

<section class="pl-48 px-12 py-8 bg-customWhite-default">
    <h1 class="text-customBlue-default font-bold text-3xl">Perfis e permissões</h1>
    <div class="flex md:flex-row sm:flex-col gap-12">
            <div class="w-1/3 max:w-1/3 my-8 py-8 px-6 shadow-card round-card">
                <div class="custom">
                    <a *ngFor="let menu of menus" id="{{menu.id}}" (click)="getNameClick(menu.menuName, menu.id)" class="t">
                        <div class="text-left px-10 py-2 rounded-lg">
                            <h2 class="font-bold my-2 capitalize" >{{menu.menuName}}</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="w-3/5 my-8 py-8 shadow-card round-card h-auto bg-customWhite-default">
                <app-roles [menuName]="name"></app-roles>
            </div>
        </div>
</section>