@import '../../../styles.scss';

.custom {
    height: 100vh;
    overflow: auto;
}

.color-blue {
  color: $blue;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: darken($color: $blue-light, $amount: 5%); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($color: $blue, $amount: 5%); 
  }

  .add {
    top: 21%;
    background-color: $orange;
}

.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 37px;
  width: 85px;
  background-color: transparent;
  border: solid 0.1rem $blue-gray;
  transition: 0.7s
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: $blue-check;
  border: solid 0.1rem $blue-border;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
  margin: 3px 38px;
  width: 10px;
  height: 20px;
  border: solid $blue-border;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.add {
  background-color: $orange;
  margin-right: 40px;
}