@import '../../../styles.scss';

.custom {
    height: 80vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: darken($color: $blue-light, $amount: 5%); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($color: $blue, $amount: 5%); 
  }

  .add {
    top: 21%;
    background-color: $orange;
}